@use './variables' as *;
@use './typography';
@use './mixins';

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Rubik';
    line-height: 1.8rem;
}

main {
    background-color: $pp-brown;
    height: 100%;
}

