@use '../../styles/variables' as *;

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    height: 100%;
    justify-content: center;
}

.app-description-wrapper {
    display: flex;
    flex-direction: column;
}

.app-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid $pp-green-dark;

    &:last-child {
        border: none;
    }
}